.footerContainer {
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

.footerInner {
    align-content: center;
    align-items: center;
    background: #262627;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 90px 0px 30px 0px;
    width: 100%;
    max-width: 100%;
}

.footerInnerContentContainer {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    margin: 0px auto 90px;
    width: 90%;
    max-width: calc(100% - 40px);
}

.footerContentCol1 {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    color: whitesmoke;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    width: 25%;
    max-width: 25%;
}

.footerContentCol1Title {
    color: whitesmoke;
    font-size: 42px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.footerContentCol1Text {
    color: #c5c5c5;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    margin: 39px 0px 15px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.footerContentCol1ReadMoreContainer {
    display: flex;
    align-items: center;
}

.footerContentCol1ReadMore {
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
}

.icon {
    font-size: 12.5px;
    color: #F27C7C;
    margin: 0px 5px;
}

.footerContentCol2 {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 67%;
    max-width: 67%;
}

.footerContentExploreNav {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    color: whitesmoke;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 50px 0px 0px;
    width: calc(50% - 50px);
    max-width: calc(50% - 50px);
}

.footerContentExploreTitle {
    border-bottom: 2px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
    color: whitesmoke;
    flex: none;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
}

.footerContentExploreNavList li {
    color: #c5c5c5;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.footerContentResourcesNav {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    color: whitesmoke;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 0px 0px 50px;
    width: calc(50% - 50px);
    max-width: calc(50% - 50px);
}

.footerContentResourcesTitle {
    border-bottom: 2px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 0px solid #FFFFFF;
    color: whitesmoke;
    flex: none;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
}

.footerContentResourcesNavList li {
    color: #c5c5c5;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.footerInfoContainer {
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    color: whitesmoke;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 0px 0px 0px 0px;
    width: 90%;
    max-width: calc(100% - 40px);
}

.footerInfoContainerInner {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    color: whitesmoke;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    width: auto;
    max-width: 100%;
}

.footerInfo {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .footerInnerContentContainer {
        align-content: space-between;
        align-items: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0px 20px 40px 20px;
        max-width: calc(100% - 40px);
    }
    .footerContentCol1 {
        flex: none;
        width: 100%;
        max-width: 100%;
    }
    .footerContentCol1Title {
        font-size: 32px;
    }
    .footerContentCol2 {
        align-content: space-between;
        align-items: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        margin-top: 60px;
    }
    .footerContentExploreNav {
        flex: none;
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
    .footerContentResourcesNav {
        flex: none;
        margin: 50px 0px 0px 0px;
        width: 100%;
        max-width: 100%;
    }
    .footerInfoContainer {
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 12px;
    }
    .footerInfoContainerInner {
        margin: 0px 0px 0px 0px;
        max-width: 100%;
    }
}