.postsPageContainer {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-end;
    margin: 50px auto 0px;
    width: 1280px;
    max-width: calc(100% - 40px);
}
.postsHeaderContainer {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    width: 67%;
    max-width: 67%;
}
.postsHeaderTitle {
    color: #272727;
    font-size: 90px;
    font-weight: 400;
    height: auto;
    line-height: 1;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}
.postsHeaderText {
    color: #262627;
    flex: none;
    font-size: 24px;
    font-weight: 400;
    height: auto;
    line-height: 1.4;
    margin: 50px 0px 35px 0px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
}

.postsPageLatestSection {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-top: 2px solid #000;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: space-between;
    margin: 20px auto 0px;
    padding: 40px 0px 0px 0px;
    width: 1280px;
    max-width: calc(100% - 40px);
}
.postsPageLatestSectionHeader {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 80px 0px 0px;
    padding: 30px 30px 30px 30px;
    width: calc(33% - 80px);
    max-width: calc(33% - 80px);
}
.postsPageLatestSectionHeaderTitle {
    color: #262627;
    font-size: 32px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.postsPageLatestSectionHeaderText {
    color: #262627;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 30px 0px 20px 0px;
    text-align: left;
    width: auto;
    max-width: 100%;
    justify-content: flex-start;
}

.postsPageLatestSectionContentContainer {
    align-content: stretch;
    align-items: stretch;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    width: 67%;
    max-width: 67%;
}
.postsPageLatestContent {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border: solid 0px #EEEEEE;
    border-radius: 0;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    width: 49%;
    max-width: 49%;
}
.latestPosts {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
    width: 67%;
    max-width: 67%;
}
.postContainer {
    width: calc(33% - 80px);
    max-width: calc(33% - 80px);
}